* {
    background: url('./bg.jpg');
}

.nav {
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
